temp_check/nifi-flow.json
{
	"snapshotMetadata" : {},
    "externalControllerServices": {},
	"flowContents":     {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "wire-center_error",
                    "id": "wire-center_error",
                    "name": "wire-center error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_wire-center_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "error",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "wire-center_condition_out",
                    "id": "wire-center_condition_out",
                    "name": "wire-center condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_wire-center_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "condition-out",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "wire-center_batch_error",
                    "id": "wire-center_batch_error",
                    "name": "wire-center batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_wire-center_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "batch-error",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "provider-location",
                    "id": "sync-in",
                    "name": "provider-location",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_provider-location",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "out",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "error",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "customer-location",
                    "id": "sync-in",
                    "name": "customer-location",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_customer-location",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center",
                    "id": "out",
                    "name": "wire-center",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "wire-center",
                    "id": "condition-in",
                    "name": "wire-center",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "wire-center_condition_in_wire-center",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "wire-center_condition_in",
                    "id": "wire-center_condition_in",
                    "name": "wire-center condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "update_session_status_out_error",
                    "id": "update_session_status_out_error",
                    "name": "Update Session Status Flow",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_update_session_status_out_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "update_session_status",
                    "id": "error",
                    "name": "Update Session Status",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "finish_session_out",
                    "id": "finish_session_out",
                    "name": "out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_finish_session_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "update_session_status",
                    "id": "out",
                    "name": "Update Session Status",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "update_session_status_error_out",
                    "id": "update_session_status_error_out",
                    "name": "error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_error_update_session_status_error_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "update_session_status_error",
                    "id": "out2",
                    "name": "Update Session Status",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "update_session_status_error_error",
                    "id": "update_session_status_error_error",
                    "name": "Update Session Status Flow Error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_error_update_session_status_error_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "update_session_status_error",
                    "id": "error2",
                    "name": "Update Session Status",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "execute-post-actions",
                    "id": "sync-in",
                    "name": "post-actions",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "to_update_session_status_execute-post-actions",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  "merged"
				],
                "source": {
                    "groupId": "main_group",
                    "id": "to_update_session_status",
                    "name": "MergeContent",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "skip_migration_if_sdb",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "source_validation_skip_migration_if_sdb",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "source_validation",
                    "id": "out",
                    "name": "Source Validation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "source_validation_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "source_validation",
                    "id": "error",
                    "name": "Source Validation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "descriptor_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "source_validation_descriptor_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "source_validation",
                    "id": "descriptor-error",
                    "name": "Source Validation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "prepare_batches_and_save_estimation",
                    "id": "in",
                    "name": "Prepare Batches and Save Estimation",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "skip_migration_if_sdb_prepare_batches_and_save_estimation",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  "unmatched"
				],
                "source": {
                    "groupId": "main_group",
                    "id": "skip_migration_if_sdb",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "execute-post-actions",
                    "id": "sync-in",
                    "name": "post-actions",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "skip_migration_if_sdb_execute-post-actions",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  "source-validation-mode"
				],
                "source": {
                    "groupId": "main_group",
                    "id": "skip_migration_if_sdb",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "wire-center",
                    "id": "sync-in",
                    "name": "wire-center",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_wire-center",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region",
                    "id": "out",
                    "name": "region",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "region_error",
                    "id": "region_error",
                    "name": "region error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_region_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region",
                    "id": "error",
                    "name": "region",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "region_condition_out",
                    "id": "region_condition_out",
                    "name": "region condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_region_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region",
                    "id": "condition-out",
                    "name": "region",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "region_batch_error",
                    "id": "region_batch_error",
                    "name": "region batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_region_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region",
                    "id": "batch-error",
                    "name": "region",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region",
                    "id": "error",
                    "name": "region",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "region",
                    "id": "condition-in",
                    "name": "region",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "region_condition_in_region",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "region_condition_in",
                    "id": "region_condition_in",
                    "name": "region condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "provider-location_error",
                    "id": "provider-location_error",
                    "name": "provider-location error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_provider-location_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location",
                    "id": "error",
                    "name": "provider-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "provider-location_condition_out",
                    "id": "provider-location_condition_out",
                    "name": "provider-location condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_provider-location_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location",
                    "id": "condition-out",
                    "name": "provider-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "provider-location_batch_error",
                    "id": "provider-location_batch_error",
                    "name": "provider-location batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_provider-location_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location",
                    "id": "batch-error",
                    "name": "provider-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "indoor-space",
                    "id": "sync-in",
                    "name": "indoor-space",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_indoor-space",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location",
                    "id": "out",
                    "name": "provider-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location",
                    "id": "error",
                    "name": "provider-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "provider-location",
                    "id": "condition-in",
                    "name": "provider-location",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "provider-location_condition_in_provider-location",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "provider-location_condition_in",
                    "id": "provider-location_condition_in",
                    "name": "provider-location condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "prepare_batches_and_save_estimation_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "prepare_batches_and_save_estimation",
                    "id": "error",
                    "name": "Prepare Batches and Save Estimation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "descriptor_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "prepare_batches_and_save_estimation_descriptor_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "prepare_batches_and_save_estimation",
                    "id": "descriptor-error",
                    "name": "Prepare Batches and Save Estimation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "country",
                    "id": "sync-in",
                    "name": "country",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "prepare_batches_and_save_estimation_country",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "prepare_batches_and_save_estimation",
                    "id": "out",
                    "name": "Prepare Batches and Save Estimation",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "execute-pre-actions",
                    "id": "sync-in",
                    "name": "pre-actions",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "migration_entry_execute-pre-actions",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "migration_entry",
                    "id": "out",
                    "name": "Migration Entry",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "to_update_session_status",
                    "name": "MergeContent",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_to_update_session_status",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space",
                    "id": "out",
                    "name": "indoor-space",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "indoor-space_error",
                    "id": "indoor-space_error",
                    "name": "indoor-space error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_indoor-space_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space",
                    "id": "error",
                    "name": "indoor-space",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "indoor-space_condition_out",
                    "id": "indoor-space_condition_out",
                    "name": "indoor-space condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_indoor-space_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space",
                    "id": "condition-out",
                    "name": "indoor-space",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "indoor-space_batch_error",
                    "id": "indoor-space_batch_error",
                    "name": "indoor-space batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_indoor-space_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space",
                    "id": "batch-error",
                    "name": "indoor-space",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space",
                    "id": "error",
                    "name": "indoor-space",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "indoor-space",
                    "id": "condition-in",
                    "name": "indoor-space",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_condition_in_indoor-space",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "indoor-space_condition_in",
                    "id": "indoor-space_condition_in",
                    "name": "indoor-space condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "update_session_status_error",
                    "id": "in2",
                    "name": "Update Session Status",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "funnel_error_update_session_status_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "source_validation",
                    "id": "sync-in",
                    "name": "Source Validation",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "execute-pre-actions_source_validation",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "execute-pre-actions",
                    "id": "out",
                    "name": "pre-actions",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "execute-pre-actions_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "execute-pre-actions",
                    "id": "conf-error",
                    "name": "pre-actions",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "update_session_status",
                    "id": "in",
                    "name": "Update Session Status",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "execute-post-actions_update_session_status",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "execute-post-actions",
                    "id": "out",
                    "name": "post-actions",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "execute-post-actions_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "execute-post-actions",
                    "id": "conf-error",
                    "name": "post-actions",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "descriptor_error_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "main_group",
                    "id": "descriptor_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "to_update_session_status",
                    "name": "MergeContent",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_to_update_session_status",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location",
                    "id": "out",
                    "name": "customer-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location",
                    "id": "error",
                    "name": "customer-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "customer-location_error",
                    "id": "customer-location_error",
                    "name": "customer-location error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_customer-location_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location",
                    "id": "error",
                    "name": "customer-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "customer-location_condition_out",
                    "id": "customer-location_condition_out",
                    "name": "customer-location condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_customer-location_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location",
                    "id": "condition-out",
                    "name": "customer-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "customer-location_batch_error",
                    "id": "customer-location_batch_error",
                    "name": "customer-location batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_customer-location_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location",
                    "id": "batch-error",
                    "name": "customer-location",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "customer-location",
                    "id": "condition-in",
                    "name": "customer-location",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "customer-location_condition_in_customer-location",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "customer-location_condition_in",
                    "id": "customer-location_condition_in",
                    "name": "customer-location condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "region",
                    "id": "sync-in",
                    "name": "region",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_region",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country",
                    "id": "out",
                    "name": "country",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "main_group",
                    "id": "funnel_error",
                    "name": "funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_funnel_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country",
                    "id": "error",
                    "name": "country",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "country_error",
                    "id": "country_error",
                    "name": "country error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_country_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country",
                    "id": "error",
                    "name": "country",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "country_condition_out",
                    "id": "country_condition_out",
                    "name": "country condition out",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_country_condition_out",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country",
                    "id": "condition-out",
                    "name": "country",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "country_batch_error",
                    "id": "country_batch_error",
                    "name": "country batch error",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_country_batch_error",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country",
                    "id": "batch-error",
                    "name": "country",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "country",
                    "id": "condition-in",
                    "name": "country",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "main_group",
                "identifier": "country_condition_in_country",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
				  ""
				],
                "source": {
                    "groupId": "country_condition_in",
                    "id": "country_condition_in",
                    "name": "country condition in",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            }],
        "controllerServices": [],
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultFlowFileExpiration": "0 sec",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "funnels": [            {
                "componentType": "FUNNEL",
                "groupIdentifier": "main_group",
                "identifier": "funnel_error",
                "position": {
                    "x": 7000,
                    "y": 1800
                }
            },            {
                "componentType": "FUNNEL",
                "groupIdentifier": "main_group",
                "identifier": "descriptor_error",
                "position": {
                    "x": 4000,
                    "y": 1800
                }
            }],
        "identifier": "main_group",
        "inputPorts": [            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "wire-center_condition_in",
                "name": "wire-center condition in",
                "position": {
                    "x": 7450,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "region_condition_in",
                "name": "region condition in",
                "position": {
                    "x": 6450,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "provider-location_condition_in",
                "name": "provider-location condition in",
                "position": {
                    "x": 8450,
                    "y": 1000
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_condition_in",
                "name": "indoor-space condition in",
                "position": {
                    "x": 9450,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "customer-location_condition_in",
                "name": "customer-location condition in",
                "position": {
                    "x": 8450,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "country_condition_in",
                "name": "country condition in",
                "position": {
                    "x": 5450,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
            }],
        "labels": [],
        "logFileSuffix": "",
        "name": "oss-lm-migration-Mar12thsanity",
        "outputPorts": [            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "wire-center_error",
                "name": "wire-center error",
                "position": {
                    "x": 6850,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "wire-center_condition_out",
                "name": "wire-center condition out",
                "position": {
                    "x": 7150,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "wire-center_batch_error",
                "name": "wire-center batch error",
                "position": {
                    "x": 6550,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_out_error",
                "name": "Update Session Status Flow",
                "position": {
                    "x": 12000,
                    "y": 1200
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_error_out",
                "name": "error",
                "position": {
                    "x": 8000,
                    "y": 2400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "update_session_status_error_error",
                "name": "Update Session Status Flow Error",
                "position": {
                    "x": 7000,
                    "y": 3000
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "region_error",
                "name": "region error",
                "position": {
                    "x": 5850,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "region_condition_out",
                "name": "region condition out",
                "position": {
                    "x": 6150,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "region_batch_error",
                "name": "region batch error",
                "position": {
                    "x": 5550,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "provider-location_error",
                "name": "provider-location error",
                "position": {
                    "x": 7850,
                    "y": 1000
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "provider-location_condition_out",
                "name": "provider-location condition out",
                "position": {
                    "x": 8150,
                    "y": 1000
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "provider-location_batch_error",
                "name": "provider-location batch error",
                "position": {
                    "x": 7550,
                    "y": 1000
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_error",
                "name": "indoor-space error",
                "position": {
                    "x": 8850,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_condition_out",
                "name": "indoor-space condition out",
                "position": {
                    "x": 9150,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "indoor-space_batch_error",
                "name": "indoor-space batch error",
                "position": {
                    "x": 8550,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "finish_session_out",
                "name": "out",
                "position": {
                    "x": 13000,
                    "y": 600
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "customer-location_error",
                "name": "customer-location error",
                "position": {
                    "x": 7850,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "customer-location_condition_out",
                "name": "customer-location condition out",
                "position": {
                    "x": 8150,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "customer-location_batch_error",
                "name": "customer-location batch error",
                "position": {
                    "x": 7550,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "country_error",
                "name": "country error",
                "position": {
                    "x": 4850,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "country_condition_out",
                "name": "country condition out",
                "position": {
                    "x": 5150,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            },            {
                "allowRemoteAccess": false,
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "main_group",
                "identifier": "country_batch_error",
                "name": "country batch error",
                "position": {
                    "x": 4550,
                    "y": 400
                },
                "scheduledState": "ENABLED",
                "type": "OUTPUT_PORT"
            }],
        "parameterContextName": "oss-lm-migration-Mar12thsanity",
        "position": {
            "x": 300.0,
            "y": 400.0
        },
        "processGroups": [        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "wire-center",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "wire-center",
            "outputPorts": [],
            "position": {
                "x": 7000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.descriptor": "wire-center",
              "migration.mm.wire-center.condition.out": false
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "update_session_status_error",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "Update Session Status",
            "outputPorts": [],
            "position": {
                "x": 7000,
                "y": 2400
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {},
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Update_Session_Status_to_Fail",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "update_session_status",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "Update Session Status",
            "outputPorts": [],
            "position": {
                "x": 12000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {},
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management",
                "flowId": "Update_Session_Status",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "source_validation",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "Source Validation",
            "outputPorts": [],
            "position": {
                "x": 3000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {},
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Source_Validation",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "region",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "region",
            "outputPorts": [],
            "position": {
                "x": 6000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.descriptor": "region",
              "migration.mm.region.condition.out": false
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "provider-location",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "provider-location",
            "outputPorts": [],
            "position": {
                "x": 8000,
                "y": 1200
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.descriptor": "provider-location",
              "migration.mm.provider-location.condition.out": false
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "prepare_batches_and_save_estimation",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "Prepare Batches and Save Estimation",
            "outputPorts": [],
            "position": {
                "x": 4000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {},
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Prepare_Batches_and_Save_Estimation",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "migration_entry",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "Migration Entry",
            "outputPorts": [],
            "position": {
                "x": 1000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {},
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management",
                "flowId": "Migration_Entry",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "indoor-space",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "indoor-space",
            "outputPorts": [],
            "position": {
                "x": 9000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.descriptor": "indoor-space",
              "migration.mm.indoor-space.condition.out": false
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "execute-pre-actions",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "pre-actions",
            "outputPorts": [],
            "position": {
                "x": 2000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.action": "pre-actions",
              "migration.mm.descriptor": "configuration-actions"
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Configuration_Action",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "execute-post-actions",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "post-actions",
            "outputPorts": [],
            "position": {
                "x": 11000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.action": "post-actions",
              "migration.mm.descriptor": "configuration-actions"
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Configuration_Action",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "customer-location",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "customer-location",
            "outputPorts": [],
            "position": {
                "x": 8000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.customer-location.condition.out": false,
              "migration.mm.descriptor": "customer-location"
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        },        {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [],
            "controllerServices": [],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [],
            "groupIdentifier": "main_group",
            "identifier": "country",
            "inputPorts": [],
            "labels": [],
            "logFileSuffix": "",
            "name": "country",
            "outputPorts": [],
            "position": {
                "x": 5000,
                "y": 600
            },
            "processGroups": [],
            "processors": [],
            "remoteProcessGroups": [],
            "variables": {
              "migration.mm.country.condition.out": false,
              "migration.mm.descriptor": "country"
            },
            "versionedFlowCoordinates": {
                "bucketId": "Product_DM_Migration_Management_Batch",
                "flowId": "Execute_Batch_Migration",
                "version":  1 
            }
        }],
        "processors": [            {
                "identifier": "to_update_session_status",
                "name": "MergeContent",
                "comments": "",
                "position": {
                    "x": 10000,
                    "y": 600
                },
                "type": "org.apache.nifi.processors.standard.MergeContent",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.23.2"
                },
                "properties": {
                    "Keep Path": "false",
                    "Maximum Group Size": null,
                    "Merge Strategy": "Bin-Packing Algorithm",
                    "Attribute Strategy": "Keep Only Common Attributes",
                    "Compression Level": "1",
                    "Maximum Number of Entries": "2",
                    "Minimum Group Size": "0 B",
                    "Maximum number of Bins": "5",
                    "Tar Modified Time": "${file.lastModifiedTime}",
                    "Delimiter Strategy": "Text",
                    "Merge Format": "Binary Concatenation",
                    "Footer File": "]",
                    "Max Bin Age": null,
                    "Demarcator File": ",",
                    "Correlation Attribute Name": "$.migration.mm.session.id",
                    "Header File": "[",
                    "mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
                    "Minimum Number of Entries": "2"
                },
                "propertyDescriptors": {
                    "Keep Path": {
                        "name": "Keep Path",
                        "displayName": "Keep Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Group Size": {
                        "name": "Maximum Group Size",
                        "displayName": "Maximum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Strategy": {
                        "name": "Merge Strategy",
                        "displayName": "Merge Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attribute Strategy": {
                        "name": "Attribute Strategy",
                        "displayName": "Attribute Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Number of Entries": {
                        "name": "Maximum Number of Entries",
                        "displayName": "Maximum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Group Size": {
                        "name": "Minimum Group Size",
                        "displayName": "Minimum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum number of Bins": {
                        "name": "Maximum number of Bins",
                        "displayName": "Maximum number of Bins",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Tar Modified Time": {
                        "name": "Tar Modified Time",
                        "displayName": "Tar Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Delimiter Strategy": {
                        "name": "Delimiter Strategy",
                        "displayName": "Delimiter Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Format": {
                        "name": "Merge Format",
                        "displayName": "Merge Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Footer File": {
                        "name": "Footer File",
                        "displayName": "Footer",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE",
                                "TEXT"
                            ]
                        }
                    },
                    "Max Bin Age": {
                        "name": "Max Bin Age",
                        "displayName": "Max Bin Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Demarcator File": {
                        "name": "Demarcator File",
                        "displayName": "Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE",
                                "TEXT"
                            ]
                        }
                    },
                    "Correlation Attribute Name": {
                        "name": "Correlation Attribute Name",
                        "displayName": "Correlation Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Header File": {
                        "name": "Header File",
                        "displayName": "Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE",
                                "TEXT"
                            ]
                        }
                    },
                    "mergecontent-metadata-strategy": {
                        "name": "mergecontent-metadata-strategy",
                        "displayName": "Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Number of Entries": {
                        "name": "Minimum Number of Entries",
                        "displayName": "Minimum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "main_group"
            }
,            {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.26.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "main_group",
                "identifier": "skip_migration_if_sdb",
                "maxBackoffPeriod": "10 mins",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 4000,
                    "y": 0
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "source-validation-mode": "${migration.mm.session.mode:equals('source-validation')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "source-validation-mode": {
                        "displayName": "source-validation-mode",
                        "identifiesControllerService": false,
                        "name": "source-validation-mode",
                        "sensitive": false
                    }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 25,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            }
],
        "remoteProcessGroups": [],
        "variables": {
  "migration.mm.callback.port": "21001",
  "migration.mm.condition.out": "{\n  \"country\": false,\n  \"customer-location\": false,\n  \"indoor-space\": false,\n  \"provider-location\": false,\n  \"region\": false,\n  \"wire-center\": false\n}",
  "migration.mm.listen.port": "21008",
  "migration.mm.session.params.descriptor-list": "[\n  \"country\",\n  \"region\",\n  \"wire-center\",\n  \"customer-location\",\n  \"provider-location\",\n  \"indoor-space\"\n]"
}
    },
	"flowEncodingVersion": "1.0",
	"parameterContexts" : { 
		"oss-lm-migration-Mar12thsanity": {
			"name": "oss-lm-migration-Mar12thsanity",
			"parameters": [
				{
					"name": "migration.mm.listen.port",
					"description": "",
					"sensitive": false,
					"provided": false,
					"value": 21008
				}
			],
			"inheritedParameterContexts": [],
			"componentType": "PARAMETER_CONTEXT"
		}
	},
	"parameterProviders": {}
}